@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

:root {
  --send-primary: #fd7e35;
  --recieve-primary: #e9ecef;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}
